<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
	   "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	   "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

	   <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	   <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
	   <property name="hibernate.connection.username">postgres</property>
	   <property name="hibernate.connection.password">1234</property>

		<property name="hibernate.hbm2ddl.auto">create</property>

	   	<mapping class="com.cyberiashop.models.data_models.Employee"/>
		<mapping class="com.cyberiashop.models.data_models.Product"/>
		<mapping class="com.cyberiashop.models.data_models.Customer"/>

    </session-factory>


</hibernate-configuration>